
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
            color: #ccccccc5;
        }

        .container {
            background-color: #0a11176c;
            border-radius: 8px;
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #f1f1f1;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        .btn-container {
            text-align: center;
        }

        .btn-container button {
            background-color: #1c9871;
            color: #0a0a0a;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 10px;
        }

        .biodata {
            background-color: #0c0c0c58;
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
        }

        .biodata-label {
            font-weight: bold;
        }
        h2{
            color: #ccc;
        }